.clip_path
	height: 100vh
	overflow: auto
	&-slide
		// border: 1px solid #000
		height: 100%
		position: relative
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
		&-menu
			user-select: none
			// border: 1px solid #000
			position: fixed
			left: 0
			top: 0
			height: 100%
			width: 200px
			color: inherit
			flex-direction: column
			display: flex
			padding: 50px 20px
			li
				font-size: 30px
			li + li
				margin-top: 1.5em

		&-1
			color: #fff
			background: linear-gradient(#fc5c7d, #6a82fb)
		&-2
			color: #000
			background: linear-gradient(#f79d00, #64f38c)
		&-3
			color: #fff
			background: linear-gradient(#fc5c7d, #6a82fb)
		&-4
			color: #64f38c
			background: linear-gradient(#23074d, #cc5333)
		&-1::before
			-webkit-text-stroke: 4px #fff
			text-stroke: 4px #fff
			color: transparent
		&-2::before
			color: #fff
		&-3::before
			color: transparent
			-webkit-text-stroke: 4px #64f38c
			text-stroke: 4px #64f38c
		&-4::before
			color: #64f38c
		&::before
			position: fixed
			left: 0
			right: 0
			bottom: 0
			margin: auto
			text-align: center
			top: 0
			content: 'Text'
			text-transform: uppercase
			font-size: 120px
			font-weight: 700
			// width: 200px
			height: 200px
			// border: 1px solid #000
	
